extends default

block content
  section.section
    .container
      .columns
        .column.is-half.is-offset-one-quarter
          .card
            .card-content
              h1.title Welcome to Demo App
              p You may sign in using the link below
              a(href="/login") Sign in
