extends default

block custom_head
  style.
    .label.is-required::after {
      content: ' *';
      color: red;
    }

block content
  mixin validation_error(name)
    if errors
      each err in errors
        if err.key === name
          p.help.is-danger(aria-errormessage=`${name}-validation-error`) #{err.value}

  section.section
    .container
      .columns
        .column.is-half.is-offset-one-quarter
          .card
            .card-content
              h1.title.is-1.has-text-centered Login to Demo App
              form.form.mb-4(method="POST" action="/login")
                .field
                  label.label.is-required(for="email-input") Email
                  .control
                    input.input(type="email", required, name="email", placeholder="name@example.com", id="email-input")
                  +validation_error('email')

                .field
                  label.label.is-required(for="password-input") Password
                  .control
                    input.input(type="password", required, name="password", placeholder="Minumum of 6 characters" id="password-input")
                  +validation_error('password')

                .field
                  .control
                    button.button.is-link.is-fullwidth(title="Log in", data-testid="login-button") Log in
              a(href="/signup") I don't have an account
